@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #ff6f61;
}

/* uncomment when implementing dark/light toggle */
/* @media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.025rem;
}

h2 {
  font-size: 1.25rem;
  letter-spacing: -0.025rem;
  font-weight: 500;
}

p {
  font-size: 0.875rem;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
